<div class='tabs__content-filter'>
  <button
    type='button'
    class='tabs__content-filter__toggle border'
    {{on 'click' this.toggleFilters}}
  >
    Filter by user
  </button>

  {{#if this.showFilters}}
    <div id='users' class='tabs__content-filter__results shadow border'>
      {{#each @users as |user|}}
        <LinkTo
          @route='application'
          @query={{hash userId=user.id}}
          class='tabs__content-filter__results-item'
        >
          <img src={{user.avatar}} alt={{user.id}} />
          {{user.name}}
        </LinkTo>
      {{/each}}
    </div>
  {{/if}}
</div>