<div class='tabs__content-filter'>
  <button
    type='button'
    class='tabs__content-filter__toggle border'
    {{on 'click' this.toggleFilters}}
  >
    Filter by user
  </button>

  {{#if this.showFilters}}
    <div id='users' class='tabs__content-filter__results shadow border'>
      {{#each @users as |user|}}
        <button
          type='button'
          class='tabs__content-filter__results-item'
          {{on 'click' (fn @onFilter user.id)}}
        >
          <img src={{user.avatar}} alt={{user.id}} />
          {{user.name}}
        </button>
      {{/each}}
    </div>
  {{/if}}
</div>