<div id='index'>
  {{! Tabs Panel }}
  <div class='tabs'>
    {{! Tab Links }}
    <nav class='tabs__links'>
      <button
        type='button'
        class='tabs__links-item {{if this.isPendingTab "active"}}'
        {{on 'click' (fn this.focusTab 'active')}}
      >
        Active Tasks
      </button>
      <button
        type='button'
        class='tabs__links-item {{if this.isCompletedTab "active"}}'
        {{on 'click' (fn this.focusTab 'completed')}}
      >
        Completed Tasks
      </button>
    </nav>

    <section class='tabs__content'>
      {{! Tab content filter }}
      <div class='tabs__content-filter'>
        <label for='filter' class='tabs__content-filter__input'>
          <input
            type='search'
            id='filter'
            placeholder='Filter by user'
            class='border'
          />
        </label>

        <div class='tabs__content-filter__results shadow border'>
          <div class='tabs__content-filter__results-item'>
            <img src='/img/avatars/marley.png' alt='Marley' />
            <span>Marley</span>
          </div>
          <div class='tabs__content-filter__results-item'>
            <img src='/img/avatars/annie.png' alt='Marley' />
            <span>Annie Kamau</span>
          </div>
          <div class='tabs__content-filter__results-item'>
            <img src='/img/avatars/agbaye.png' alt='Marley' />
            <span>Agbaye James</span>
          </div>
          <div class='tabs__content-filter__results-item'>
            <img src='/img/avatars/clint.png' alt='Marley' />
            <span>Clint West</span>
          </div>
          <div class='tabs__content-filter__results-item'>
            <img src='/img/avatars/john.png' alt='Marley' />
            <span>John Jones</span>
          </div>
        </div>
      </div>

      {{#if this.isPendingTab}}
        <div class='tabs__content-item'>
          <Task::List
            @tasks={{this.pendingTasks}}
            @toggleCompleted={{this.toggleCompleted}}
          />
        </div>
      {{else}}
        <div class='tabs__content-item'>
          <Task::List
            @tasks={{this.completedTasks}}
            @toggleCompleted={{this.toggleCompleted}}
          />
        </div>
      {{/if}}
    </section>
  </div>
</div>